.prova3{
    color: blue;
    background-color: green;
    font-size: 30px;
    font-weight: 700 !important;
    box-shadow: 5px 10px !important;
}

._md-container{
    display: none !important;
}

.provaRadio2:not(.kplFormHolder){
    box-shadow: 0 0 5px 5px !important;
    border-radius: 5px !important;
    background-color: white !important;
}

.titolo{
    background-color: white !important;
    border-radius: 15px !important;
    width: 100% !important;
}
